  .main--container{
	display: flex;
	width: 75%;
	margin: 20px auto;
	justify-content: space-between;
  }
  
  main .main--container .main--img{
	width: 300px;
	border-radius: 15px;
	padding: 10px;
  }
  
  .main--info{
	width: 58%;
  }
  
  .info--name{
	font-size: var( --font_large);
	margin-bottom: 15px;
  }
  
  .info--description{
	font-size: var( --font_normal);
	margin-bottom: 10px;
  }
  
  .main--links{
	margin: 20px 0;
  }
  
  .main--link{
	padding: 10px 20px;
	border-radius: 10px;
	margin: 10px 5px;
  }
  
  .main--link__salmon{
	background-color: salmon;
	color: white;
  }
  
  .main--link__transparent{
	text-decoration: underline;
	color: black;
  }
  
  .main--social-media{
	display: flex;
	align-items: center;
  }
  
  .main--social-media h2{
	font-size: var( --font_small);
	margin-right: 10px;
  }
  