:root {
	--primary-color: #003476;
	--secundary-color: #b4d2f7;
	--header-size: 4rem;
		/* https://nekocalc.com/px-to-rem-converter */
	--font_large: 3rem; 
	--font_normal: 2rem;
	--font_small: 1rem;
  }
  
  *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }

   /* BUENAS PRACTICAS PARA ACCESIBILIDAD DE TEXTO */
  
  html {
	font-size: 62.5%;
  }
  /* End Buenas practicas */

  body{
	font-family: 'Roboto' ,sans-serif;
  }
  
  ul{
	list-style: none;
  }
  
  a{
	text-decoration: none;
	color: rgb(211, 171, 119);
	font-size: var( --font_normal);
  }

  .header{
	display: flex;
	justify-content: space-between;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.644);
	flex-wrap: wrap;
  }
  
  .header--logo{
	width: 30px;
	height: 30px;
  }
  
  .header--list{
	display: flex;
	justify-content: space-between;
	width: 300px;
  }
  
  .header a{
	color: white;
  }
  .header a:hover{
	text-decoration: underline;
  }