.main {
border: 5px solid #9bcacc;
background-color: bisque;
height: 700px;
display: grid;
gap: 20px;
grid-template-columns: 150px 150px;
/* grid-auto-columns: 150px; */
grid-auto-flow: column;
place-content: center;
}
.item {
	border: 5px solid #b6b6c2;
	font-size: 4rem;
}