:root{
	--brand-color: #1d9bf0;
  --gray-color: #cfd9de;
  --gray: #536471;
  }
  
  *{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  
  html{
    font-size: 62.5%;
  }
  
  a{
	text-decoration: none;
  }
  
  ul{
	list-style: none;
  }
  
  body{
	font-family: Helvetica, sans-serif;
  }