.header{
	margin: 20px;
}

.header--icon{
	color: var(--brand-color);
	font-size: 4rem;
}

.header--icon__white{
	color: white;
	font-size: 22rem;
}

.main--titles{
	margin: 20px 0;
	font-weight: 700;
	width: 80%;
	max-width: 300px;
}
    
h1.titles--title{
	font-size: 4.4rem;
	margin-bottom: 15px;
}
h2.titles--title{
	font-size: 2.4rem;
	margin-bottom: 10px;
}
	
.main--hero{
	width: 90%;
	margin: 0 auto;
}

.main--buttons{
	width: 80%;
	min-width: 300px;
	}

.main--button{
	padding: 10px;
	border: 0;
	border-radius: 15px;
	font-size: 1.8rem;
	margin: 10px 0;
	width: 100%;
	text-overflow: ellipsis;
  	overflow: hidden;
  	white-space: nowrap;
}

.main--button--icon {
	padding: 5px;
}
.main--button__white{
	border: 1px solid var(--gray-color);
	background: white;
}

.main--button__blue{
	background: var(--brand-color);
	color: white;
}

.main--button__white-blue{
	color: var(--brand-color);
}
.apple {
	font-weight:600;
}
.main--division{
	text-align: center;
	width: 90%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.main--division div{
	border-top: 1px solid var(--gray-color);
	width: 45%;
}

.main--text{
	font-size: 1rem;
	margin: 5px 0 20px;
	color: var(--gray);
}

.text--link{
	color: var(--brand-color);
}
h3.titles--title{
	font-size: 1.6rem;
	margin-bottom: 5px;
}

.main--background{
	width: 100%;
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
    background-image: url('../img/mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header--icon__white{
	font-size: 42rem;
}

.footer{
	width: 100%;
	padding: 20px;
	font-size: 1.2rem;
}

.footer--list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
	.footer--list a, .footer--list__year {
		margin: 5px 10px;
	}
	
	.footer--list a span, .footer--list__year {
		color: var(--gray);
	}

/* RESPONSIVE */

@media screen and (min-width: 1024px) {
	.helper{
		display: flex;
		flex-direction: row-reverse;
		width: 100vw;
		height: 90vh;
	}
	.header{
		/* background-color: aquamarine; */
		height: 20vh;
		display: flex;
		align-items: center;
	}
	.header--icon{
		font-size: 5rem;
	}
	.main{
		/* background-color: rgb(131, 148, 142); */
		display: flex;
		/* align-items: center; */
		height: 60vh;
	}

    .main--background{
		width: 50%;
		height: 100%;
		background: none;
		background-image: url('../img/desktop.png');
	}

	.helper--content {
		width: 50%;
	}
	.main--button{
		display: block;
		width: 300px;
		margin: 10px 0;
	}
	.main--titles{
		margin: 20px 0;
		font-weight: 700;
		width: 80%;
		max-width: 500px;
	}
	h1.titles--title{
		font-size: 6rem;
	}
	.main--division{
		max-width: 300px;
		margin: 0;
	}
	.main--text{
		width: 300px;
	}
	.footer--list a span, .footer--list__year {
		color: var(--gray);
	}

} 

/* @media (min-width: 800px) {
    .main--background{
		background-image: url('../img/tablet.png');
		background-size: contain;  
	}
} */