@font-face {
    font-family: 'icomoon';
    src:  url('./fonts/icomoon.eot?yezat3');
    src:  url('./fonts/icomoon.eot?yezat3#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?yezat3') format('truetype'),
    url('./fonts/icomoon.woff?yezat3') format('woff'),
    url('./fonts/icomoon.svg?yezat3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'icomoon' !important;

font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
content: "\ea92";
}
.icon-twitter:before {
content: "\ea96";
}
.icon-github:before {
content: "\eab0";
}
    body {
        font-family: 'MuseoModerno', cursive;
        margin: 0;
        background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    }
    .dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 5%;
    right: 10%;
    border: 5px solid #fca311;
    border-radius: 63px;
    width: 15%;
    }
    .dashboard__score {
        margin: 0;
    }
    .playground {
        height: 97vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 30px;
    }
    .playground__title {
        color: #fca311;
        font-size: 50px;
        margin-bottom: 20px;
    }
    .playground__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: 5px solid #fca311;
        border-radius: 54px;
        width: 25vw;
        height: 50vh;
    }
    
    /* img */
    
    .playground__container--items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 25px 0;
        width: 100%;
        height: 30vh;
    }
.playground__container--items figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    cursor: pointer;
}

.playground__container--items figure:hover {
    box-shadow: 0rem 0.2rem 0.8rem 0.1rem rgb(0 0 0 / 60%);
    transition: all 0.5s;
    transform: scale(1.2);
    background-color: #aacc00;
    transform: scale(1.5);
}

body.dark .playground__container--items figure {
    background-color: var(--dark-secondary-color);
}

.playground__container--items figure img {
    width: 70%;
    height: 70%;
}

/* end img */
    .playground__container--items2 {
        margin-bottom: 20px;
    }
    .footer {
        padding-left: 1em;
        margin: 0;
        color: #e5e5e5;
        display: flex;
        align-items: center;
    }
    .social-icon {
    font-size: 2em;
    color: #e5e5e5;
    text-decoration: none;
    /* background-size: 50px 50px; */
    margin: 0 10px;
    }

    /* @media screen and (max-width: 1024px) {
        .playground__container p {
            text-align: center;
        }
    } */

    @media screen and (max-width: 768px){
        .dashboard {
            top: 14%;
            left: 37%;
            right: 10%;
            width: 25%;
        }
        .playground__container {
            width: 50vw;
            height: 62vh;
            position: absolute;
            top: 30%;
        }
        .playground__title {
            position: absolute;
            top: 0%;
            left: 23%;
        }
    }

    @media screen and (max-width: 480px){
    .playground__title {
        position: absolute;
        top: 6%;
        font-size: 1.3em;
        left: 18%;
    }
    .playground__container {
        position: absolute;
        top: 34%;
    }
    .playground__container p {
        text-align: center;
    }
    .dashboard {
        top: 19%;
        left: 30%;
        right: 10%;
        width: 38%;
    }
}

@media screen and (max-width: 360px){
    .playground__title {
        top: 8%;
        font-size: 1em;
        left: 14%;
    }
    .dashboard {
        font-size: .9em;
        left: 29%;
        width: 42%;
    }
    .playground__container {
        width: 35vh;
    }
}