:root{
  --gray-color: #f8f8f8;
  --brand-color: red;
  --blue-color: #065fd4;
  --dark-color: #181818;
  --lightGray-color:#606060;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: sans-serif;
  font-size: 1.6rem;
}

a{
  text-decoration: none;
}

ul, ol{
  list-style: none;
}

.layout{
  display: grid;
  grid-template-areas: 
    "header header"
    "sidebar tags"
    "sidebar content"
  ;
  grid-template-columns: 15% 85%;
  grid-template-rows: 10% 5% 85%;
  height: 100vh;
  width: 100%;
}

header{
  grid-area: header;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding: 0 20px;
  position: sticky;
}

header i{
  font-size: 2rem;
}

button{
  background: transparent;
  border: 0;
}

/* Logo color */

.fa-bars{
  color: #030303;
  margin-right: 20px;
}

.fa-youtube{
  color: var(--brand-color);
}

.logo-icon{
  display: flex;
}

.logo-icon i{
  margin-right: 5px;
  font-weight: 900;
}

/* Logo colors */

.header--logo{
  /* width: 20%; */
  display: flex;
  justify-content: space-between;
  justify-self: left;
  align-self: center;
}

.header--search{
  place-self: center;
  width: 60%;
}

.header--form{
  display: flex;

}

.header--input{
  display: block;
  width: 90%;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--gray-color);
}

.header--form .header--button{
  margin-left: 10px;
}

.header--button__gray{
  background-color: var(--gray-color);
  padding: 5px;
  margin: 0;
}

.micro {
  border-radius: 25px;
  padding: 10px;
}

.header--profile{
  justify-self: right;
  align-self: center;
}

.header--profile{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* JP --  ICONS & PICTURE */
.header--menu-grid-icon {
  background-image: url('https://static.thenounproject.com/png/756729-200.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 35px;
  height: 35px;
  justify-self: right;
  align-self: center;
}
.jp-logo {
  border-radius: 50%;
  margin-left: 10px;
  width: 35px;
  height: 35px;
}
/* end JP */

aside{
  grid-area: sidebar;
  width: 100%;
  height: 100%;
  padding: 25px;
}

.aside--list {
  border-bottom: 2px solid var(--gray-color);
  cursor: pointer;
}
.aside--list h3 {
  font-size: 1.3rem;
  padding: 10px;
  margin: 5px;
  color: var(--lightGray-color);
  cursor:text;
}

.aside--list li{
  padding: 7px;
}

.aside--list li a{
  color: #030303;
}

.aside--list li:hover{
  background-color: rgba(169, 169, 169, 0.473);
}

.icons-img {
  width: 20px;
  margin-right: 30px;
}

.tags{
  grid-area: tags;
  display: flex;
}

.tags li{
  margin: 0 10px;
  height: max-content;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: var(--gray-color);
}

.tags li:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

.videos{
  grid-area: content;
}

.videos-row{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 25px 310px;
  column-gap: 15px;
  row-gap: 10px;
}

.videos--title{
  grid-row: 1 / 2;
}

.video{
  grid-row: 2 / 3;
}

.video--cover{
  position: relative;
}

.video--cover img{
  width: 100%;
  height: 150px;
  /*  */
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  cursor: pointer;
}
.video--cover span, .play-text{
  position: absolute;
  color: white;
  background: rgba(0, 0, 0, 0.8) ;
  padding: 4px 9px;
}
.video--cover span{
  bottom: 10px;
  right: 10px;
}
.play-text{
  left: 50px;
  top: 41px;
  width: max-content;
  height: 26px;
  font-size: 1.2rem;
  background: rgba(0, 0, 0) ;
}

.video .video--cover img:hover, {
  opacity: 0.5;
}

.hidding-text-box {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.video--cover:hover .img {
  opacity: 0.3;
}

.video--cover:hover .hidding-text-box {
  opacity: 1;
}

.floating--button {
  float: right;
  padding: 5px;
}

.video--details{
  display: flex;
  padding: 15px;
  font-size: 1.4rem;
}

.channel-img{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.subscr-img {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

.video--details h2, .video--details p{
  margin-bottom: 10px;
}

.video--details h2{
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.video--details p i{
color: var(--lightGray-color);
}