:root{
    --text-black: #292929;
    --text-yellow: #eebe3e;

    --background-white-transparent: #ffffff81;

    --item-background-normal: #8586bf;
    --item-background-green: #6ecdb2;
    --item-background-red: #eb766f;
    --item-background-yellow: #f1c748;
    --item-background-soft-blue: #9cc8fa;
    --item-background-blue: #5399e9;
    --item-background-gray: #acacac;
    --item-background-ground: #a9766d;

    --type-background-normal: #9d9fcf;
    --type-background-green: #9dcfc1;
    --type-background-red: #ec9590;
    --type-background-yellow: #fad76e;
    --type-background-soft-blue: #badafd;
    --type-background-blue: #79abe4;
    --type-background-gray: #c4c4c4;
    --type-background-ground: #ad8f89;

    --button-back-bg: #79797969;
    --button-red-bg: #ff3d3d;
    --button-purple-bg: #373d62;

    --bar-gray: #c9c9c9;
    --bar-green: #22c237;
}

/* Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

button {
    border: none;
    background: none;
}

li {
    list-style: none;
}

a {
    text-decoration: underline;
    color: inherit;
}

/* Global */

html {
    font-size: 62.5%;
}

body {
    max-width: 850px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    color: var(--text-black);
    background: #fff;
}

/* Header */

header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    max-width: 850px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: var(--background-white-transparent);
}

.header__title {
    font-size: 2.3rem;
}

.header__search-form input {
    width: calc(100% - 40px);
    height: 35px;
    padding-left: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    border: none;
    border-radius: 20px;
    outline: none;
}

.header__search-form input:focus {
    background-color: var(--button-back-bg);
}

/* Main - section list */

main {
    width: 100%;
    height: auto;
}

.main__list {
    width: calc(100%);
    margin: 0 auto;
    padding: 100px 10px 0 10px;
    box-shadow: 0 -10px 15px -9px #00000079;
    border-radius: 40px;
}

.list__pokemons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 10px;
    row-gap: 80px;
}

.pokemon {
    position: relative;
    min-height: 150px;
    height: 100%;
    width: calc(100vw/2 - 20px);
    max-width: 240px;
    margin: 0 auto;
    padding: 10px;
    padding-top: 80px;
    border-radius: 30px;
    background-color: var(--item-background-normal);
    color: #fff;
}

.pokemon::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    background-image: url("../pokeball.svg");
    background-position: 80px 80px;
    background-repeat: no-repeat;
    opacity: 0.25;
    z-index: 0;
}


.pokemon__image {
    position: absolute;
    top: -75px;
    left: 0;
    width: 100%;
    text-align: center;
}

.pokemon__image img{
    width: 100%;
    min-height: 120px;
    max-width: 150px;
    pointer-events: none;
    user-select: none;
}


.list__pokemon-hero {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list__pokemon-hero h3 {
    font-size: 1.8rem;
    text-transform: capitalize;
}

.list__pokemon-hero .pokemon-id {
    width: 50px;
    padding-right: 5px;
    text-align: right;
    font-size: 2rem;
    color: #fff;
}

.list__pokemon-type {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.list__pokemon-type:last-child {
    margin: 0;
}

.pokemon-type {
    position: relative;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    background: var(--type-background-normal);
    border-radius: 20px;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.pokemon__button {
    position: relative;
    padding: 7px 10px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    background-color: var(--button-purple-bg);
    border-radius: 20px;
}

.main__buttons-nav {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.nav__buttons {
    width: 100px;
    height: 40px;
    font-size: 1.8rem;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    background-color: var(--button-red-bg);
    border-radius: 20px;
}

/* Main pokemon details */

.main__details {
    position: relative;
    height: auto;
    min-height: 500px;
    z-index: 0;
}

.details__buttons {
    position: absolute;
    top: 240px;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.buttons__pokemon {
    height: 40px;
    width: 40px;
    margin: 0 10px;
    font-size: 2rem;
    color: #fff;
    border-radius: 30px;
    background-color: var(--button-back-bg);
}

.details__background {
    position: absolute;
    width: 100%;
    height: 75%;
    z-index: -1;
    top: 0;
    background-color: var(--item-background-normal);
}

.details__image::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    background-image: url("../pokeball.svg");
    background-position: -80px -40px;
    background-repeat: no-repeat;
    background-size: 200px 200px;
    opacity: 0.25;
    z-index: 0;
}

.details__image .details__background::after {
    content: '';
    width: 100%;
    height: 10%;
    display: block;
    position: absolute;
    bottom: 0%;
    border-radius: 0 0 100% 100%;
    transform:translate(0, 50%);
    background-color: var(--item-background-normal);
}

.details__image {
    padding-top: 50px;
    position: relative;
    z-index: 1;
    text-align: center;
}

.details__name, .details__id {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 60px;
    margin-left: 20px;
    font-size: 2.4rem;
    color: #fff;
    text-transform: capitalize;
}

.details__id {
    left: unset;
    right: 0;
    margin-left: 0;
    margin-right: 20px;
}

.details__image img {
    width: 80%;
    max-width: 400px;
    pointer-events: none;
    user-select: none;
}

.details__type {
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.details__type span {
    margin: 0;
    width: 100px;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) );
}

.details__details {
    margin-bottom: 60px;
}

.details__details .pokemon-type {
    background-color: var(--type-background-normal);
}

.details__about, .stats {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 1.6rem;
}

.about__description {
    margin-top: 10px;
}

.about__features {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.features__height, .features__weight {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.features__height span, .features__weight span {
    display: block;
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
}

.features__height span:last-child, .features__weight span:last-child {
    padding-top: 10px;
    font-size: 1.4rem;
    font-weight: 400;
}

.features__height {
    border-right: 1px solid var(--button-purple-bg);
}

.features__weight {
    border-left: 1px solid var(--button-purple-bg);
}

.stats__container {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 60px 40px 1fr;
    grid-auto-rows: 30px;
}


.stat__name {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    font-weight: 600;
}

.stat__value {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: end;
}

.bar__container {
    display: flex;
    height: 5px;
    width: 95%;
    align-self: center;
    justify-content: start;
    justify-self: end;
    background-color: var(--bar-gray);
    border-radius: 3px;
}

.stat__bar {
    width: 50%;
    height: 100%;
    border-radius: 3px;
    background-color: var(--bar-green);
}

/* Footer */

footer {
    max-width: 90%;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    font-size: 1.6rem;
}

.footer__credits {
    margin-top: 10px;
    font-size: 1.2rem;
}

/* Utils */

.inactive {
    display: none;
}

.box__green {
    background-color: var(--item-background-green);
}
.box__red {
    background-color: var(--item-background-red);
}
.box__yellow {
    background-color: var(--item-background-yellow);
}
.box__soft-blue {
    background-color: var(--item-background-soft-blue);
}
.box__blue {
    background-color: var(--item-background-blue);
}
.box__gray {
    background-color: var(--item-background-gray);
}
.box__ground {
    background-color: var(--item-background-ground);
}

.box__green .pokemon-type {
    background-color: var(--type-background-green);
}
.box__red .pokemon-type {
    background-color: var(--type-background-red);
}
.box__yellow .pokemon-type {
    background-color: var(--type-background-yellow);
}
.box__soft-blue .pokemon-type {
    background-color: var(--type-background-soft-blue);
}
.box__blue .pokemon-type {
    background-color: var(--type-background-blue);
}
.box__gray .pokemon-type {
    background-color: var(--type-background-gray);
}
.box__ground .pokemon-type {
    background-color: var(--type-background-ground);
}

.details__image .box__green::after {
    background-color: var(--item-background-green);
}

.details__image .box__red::after {
    background-color: var(--item-background-red);
}
.details__image .box__yellow::after {
    background-color: var(--item-background-yellow);
}
.details__image .box__soft-blue::after {
    background-color: var(--item-background-soft-blue);
}
.details__image .box__blue::after {
    background-color: var(--item-background-blue);
}
.details__image .box__gray::after {
    background-color: var(--item-background-gray);
}
.details__image .box__ground::after {
    background-color: var(--item-background-ground);
}

.no-background {
    background-color: unset;
}

/* Media quueries */

@media (min-width: 700px) {
    .list__pokemons {
        grid-template-columns: repeat(3, 1fr);
    }
    .pokemon {
        width: calc(100vw/3 - 20px);
    }
}