:root {
	--background: #a5a58d;
	--text: #ddbea9;
	--white: #fff;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
	text-decoration: none;
}

html{
	font-size: 62.5%;
  }

.container {
	width: 100%;
	height: 100vh;
	background-color: var(--background);
	display: flex;
	align-items: center;
	justify-content: center;
}
.card {
	width: 90%;
	max-width: 800px;
	color: var(--white);
	text-align: center;
	padding: 50px 35px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
}
.card img {
	width: 500px;
	border-radius: 7%;
}
.card h1{
	font-size: 4rem;
	font-weight: 600;
	margin-top: 20px;
}
.card h2{
	font-size: 3rem;
	font-weight: 600;
	margin-top: 20px;
}
.card p {
	font-size: 1.8rem;
	margin: 10px auto;
	max-width: 330px;
}
.card .links img {
	width: 40px;
	border-radius: 50%;
	margin: 10px 5px;
	transition: background 0.5s;
}
.card .links img:hover {
	background: var(--pink-color);
}

.card .links span {
	font-size: 3rem;
	text-align: center;
	transition: background 0.5s;
}
.card .links span a{
	border-radius: 50%;
	transition: background 0.5s;
}
.card .links span a:hover{
	background: var(--pink-color);
}

.btn {
	display: inline-block;
	font-size: 1.8rem;
	font-weight: 500;
	background: #fff;
	color: var(--pink-color);
	padding: 10px 30px;
	border-radius: 30px;
	margin: 30px 0 10px;
}