@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
:root {
  --color-primary: #00bcd4;
  --font: "Nunito", sans-serif;
  --key-bg: #eee;
  --color-white: #fafafa;
  --color-black: #232323;
  --color-grey: #bbb;
  --correct-color: #29b658;
  --incorrect-color: #ff1e43;
  --bg-color: #14213d;

  --border-s: 0.5rem;
  --border-l: 1.5rem;
  --padding-s: 0.5rem 1rem;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-white);
  background: var(--bg-color);
  background: -webkit-linear-gradient(to right, #171f47, #14213d);
  background: linear-gradient(to right, #171f47, #14213d);
  font-family: var(--font);
}

.menu {
  display: none;
  position: absolute;
  z-index: 99;
  inset: 0px auto auto 0px;
  transform: translate3d(80%, 32px, 0);
}

.menu-list {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  transform: scale(0.8) translateZ(0px);
  min-width: 14rem;
  padding: var(--border-s) 0;
  border-radius: var(--border-s);
  border: 1px solid #ffffff54;
  box-shadow: rgba(4, 1, 39, 0.1) 0px 0px 0px 1px,
    rgba(6, 1, 73, 0.2) 0px 5px 10px, rgba(7, 1, 59, 0.4) 0px 15px 40px;
}

.menu-item {
  user-select: none;
  display: flex;
  width: 100%;
  place-items: center;
  text-align: start;
  flex: 0 0 auto;
  outline-offset: 2px;
  padding: var(--padding-s);
  flex-direction: column;
  font-size: 1.25rem;
}

.menu-btn {
  width: max-content;
  border-radius: var(--border-s);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 5px auto;
  padding: var(--padding-s);
  transition: 0.3s ease-out;
}

.menu-btn:hover .menu {
  display: block;
}

.menu-btn:hover,
.menu-item:hover {
  cursor: pointer;
  background-color: #bbbbbb2d;
}

main {
  position: relative;
  max-width: 32rem;
  margin: 0 auto;
}

.container {
  display: grid;
  justify-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 5px 10px;
}

.keyboard {
  display: flex;
  flex-direction: column;
}

.keyboard-container {
  display: flex;
  gap: 0.25rem;
}

.keyboard-tiles {
  display: flex;
}

.keyboard-letter {
  outline: transparent solid 2px;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  width: auto;
  line-height: 1.2;
  height: 56px;
  min-width: 0px;
  font-size: 1rem;
  font-weight: bold;
  flex-grow: 1;
  text-transform: uppercase;
  background-color: var(--key-bg);
  color: var(--color-black);
  border-radius: var(--border-s);
  box-shadow: inset 0 -5px 0px 0px var(--color-grey);
  transition: box-shadow 0.15s ease;
}

.keyboard-letter:hover {
  box-shadow: inset 0 -2px 0px 0px var(--color-grey);
}

.keyboard-letter:active {
  animation: scaleTile 0.1s ease-out;
}

.keyboard-letter:disabled {
  cursor: not-allowed;
  color: #eee;
  background-color: var(--color-grey);
}

.keyboard-letter:disabled:active {
  animation: none;
}

.keyboard-letter--next {
  background-color: var(--correct-color);
  padding: 0 1rem;
  box-shadow: none;
}

.keyboard-letter--next:hover {
  cursor: pointer;
  opacity: 0.98;
  box-shadow: none;
}

@keyframes scaleTile {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}

#enter {
  min-width: 80px;
}

/*grid */
.section {
  display: grid;
  place-content: center;
  justify-items: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
}

.grid-row {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  width: 100%;
}

.grid-tiles {
  border-radius: var(--border-s);
  width: 100%;
  height: 100%;
  width: 55px;
  min-height: 55px;
  /* height: 58px; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  color: var(--color-white);
  text-transform: uppercase;
  user-select: none;
  box-shadow: 0 0 9px 2px #bbbbbb54, inset 0 -4px 0px 0px #bbbbbb54;
}

/* image */
.img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
  user-select: none;
  border: var(--border-s) solid #232323a8;
  border-radius: var(--border-s);
}

/* Title */
.title-container {
  margin: 0 auto;
  text-align: center;

  margin-bottom: 1rem;
  border-bottom: 2px solid var(--color-white);
}

.title {
  user-select: none;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: normal;
  color: #333;
}

/* Boolean */
.correct {
  color: var(--correct-color);
}
.incorrect {
  animation: incorrectColor 0.25s ease both;
}
.grid-tiles.incorrect {
  animation: incorrectColor 0.25s ease both 0.15s,
    incorrectMove 0.25s ease 0.15s;
}

/* Hearts */
.heart-container,
.time-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 5px 10px;
  border-radius: var(--border-l);
}

.heart {
  font-size: 1.2rem;
  color: var(--incorrect-color);
}

.hud-container {
  position: relative;
  background-color: #bbbbbb54;
  outline: 2px solid var(--color-white);
  border-radius: var(--border-l);
  display: flex;
  width: 100%;
  max-width: 300px;
  justify-content: space-between;
  align-items: center;
}

/* Level */
.level-container {
  position: absolute;
  left: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ee9b00;
  outline: 3px solid #ee9b00;
  font-size: 1.2rem;
  width: 44px;
  height: 44px;
  font-weight: bold;
  border-radius: 50%;
}

/* Popup */
.popup-container {
  background-color: #14213de5;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}

.popup-scale {
  background: none;
  animation: modaleClose 0.5s ease-in forwards;
}

.popup {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  overflow: hidden;
  width: 95%;
  max-width: 32rem;
  color: black;
  margin: 0 auto;
  border-radius: 0.5rem;
  background-color: #1f3461;
  padding: 1rem 0;
  box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);

  transform: translateY(60%);
  animation: modalOpen 0.5s ease-out;
}

.popup-title {
  color: var(--correct-color);
}

.popup-title .subtitle {
  color: #ccc;
}

.popup-timer {
  width: max-content;
  padding: 0 1.5rem;
  color: var(--color-white);
  gap: 1rem;
  justify-content: center;
}

.star {
  font-size: 3rem;
  color: #ee9b00;
}

.star.lost {
  color: var(--color-grey);
}

@media screen and (max-width: 375px) {
  .grid-row {
    max-width: 300px;
  }
}

@keyframes modalOpen {
  from {
    opacity: 0;
    transform: translateY(200%);
  }
  to {
    opacity: 1;
  }
}

@keyframes modaleClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(200%);
  }
}

@keyframes incorrectColor {
  100% {
    box-shadow: 0 0 5px 8px #d4161654, inset 0 -4px 0px 0px #d4161654;
    color: var(--incorrect-color);
  }
}

@keyframes incorrectMove {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(5%);
  }
}
