.bg {
  background-color: black;
}

.header {
  background-color: #191919;
  padding-bottom: 20vmax;
  padding-top: 6vmax;
}

.navbar li {
  display: block;
  padding-top: 1vmax;
  padding-right: 2.5vmax;
  font-family: Source Code Pro;
  font-size: 1.8vmax;
}

.navbar a {
  color: white;
}

#welcome {
  color: white;
  font-family: Source Code Pro;
  font-size: 4vmax;
  margin-top: 7vmax;
}

.intro {
  margin-top: 5vmax;
  margin-bottom: 6vmax;
  overflow: auto;
}

#text1 {
  color: white;
  font-family: Source Code Pro;
  padding-left: px;
  font-size: 2vmax;
}

#text1 span {
  color: green;
}

.intro col-xs-4 {
  display: inline;
}

#text2 {
  font-family: Source Code Pro;
  font-size: 2vmax;
  color: green;
}

.skill a:hover {
  color: green;
}

.skill a {
  color: white;
}

.skill ul {
  list-style: none;
}

.work {
  margin-top: 5vmax;
}

#text3,
#text4 {
  font-family: Source Code Pro;
  font-size: 2vmax;
  color: green;
}

.work span {
  color: white;
}

.break {
  margin-top: 2vmax;
}

#text4 span {
  color: white;
}

#text4 {
  display: inline-block;
  padding-top: 2vmax;
}
