*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body{
	font-family: 'Roboto' ,sans-serif;
  }
  
  ul{
	list-style: none;
  }
  
  a{
	text-decoration: none;
	color: rgb(211, 171, 119);
  }
  
  .header{
	display: flex;
	justify-content: space-between;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.644);
  }
  
  .header--logo{
	width: 30px;
	height: 30px;
  }
  
  .header--list{
	display: flex;
	justify-content: space-between;
	width: 300px;
  }
  
  .header a{
	color: white;
  }
  .header a:hover{
	text-decoration: underline;
  }