/* This is for mobile first */


/* 
Agregando estilos:

Posicionamiento --> static, absolute, relative, fixed
Modelo de caja (Box model) --> margin, border, padding, content
Tipografía --> tipos, tamaños de fuente, etc
Estilos visuales --> box-shadow, border-radius, gradient, etc
Otros --> reglas CSS y más
 */


:root {
  /* Colors */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --off-white: #faf8f7;
  --just-white: #fff;
  --grey: #bababa;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}
.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}
.header--title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);

}
.header--title-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}
.header--title-container .header--button {
  position: absolute;
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /* Sombra */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  left: calc(50% - 118px);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header--button span {
display: inline-block;
width: 13px;
height: 8px;
margin-left: 10px;
background-image: url('../assets/icons/down-arrow.svg');
}

/* MAIN */

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}
.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
.main-exchange-container-title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
.main-exchange-container .backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background: url('../assets/img/bitcoin.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-exchange-container h2{
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.main-exchange-container p{
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  font-style: 1.6rem;
  color: #757575;
}

/* Table: */
.main-currency-table, .main-commissions-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}
.main-currency-table .currency-table--title, .main-commissions-table .commissions-table--title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--bitcoin-orange);
}
.currency-table--container, .commissions-table--container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}
.currency-table--container table, .commissions-table--container table{
  width: 100%;
  height: 100%;
}
.currency-table--container td, .commissions-table--container td{
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);
  text-align: center;
}
.currency-table--container .table__top-left, .commissions-table--container .table__top-left {
  border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right, .commissions-table--container .table__top-right {
  border-radius: 0 15px 0 0;
}
.currency-table--container .table__bottom-left, .commissions-table--container .table__bottom-left {
  border-radius: 0 0 0 15px;
}
.currency-table--container .table__bottom-right, .commissions-table--container .table__bottom-right {
  border-radius: 0 0 15px 0;
}
.current-table--container .table__right, .commissions-table--container .table__right{
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}
.currency-table--container .down {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url('../assets/icons/trending-down.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.currency-table--container .up {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url('../assets/icons/trending-up.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.currency-table--date, .commissions-table--date{
  width: max-content;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  border-radius: 8px;
}
.date_orange {
  background-color: var(--soft-orange);
}
.date_blue {
  background-color: var(--soft-blue);
}

.currency-table--date p, .commissions-table--date p{
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--warm-black);
}

/* Cards: section */

.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--warm-black);
}
.product-detail--batata-logo {
  position: absolute;
  width: 40px;
  height: 25px;
  background-image: url(../assets/icons/batata.svg);
  top: -10px;
  left: calc(50% - 20px);
}
.product-detail--title {
width: 90%;
min-width: 288px;
height: auto;
margin: 0 auto;
margin-top: 50px;
text-align: center;
}
.product-detail--title h2 {
  color: var(--just-white);
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
}
.product-detail--title p{
  color: #808080;
  margin-bottom: 20px;
  font-size:1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.product-detail--card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  min-height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16) ;
}

/* icons (in card section) */

.product-detail--card .icon-card {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.clock {
  background-image: url('./../assets/icons/clock.svg');
}

.eye {
  background-image: url('./../assets/icons/eye.svg');
}

.dollar {
  background-image: url('./../assets/icons/dollar-sign.svg');
}

.check{
  background-image: url('./../assets/icons/check-circle.svg');
}
/* END icons */

.product--card_title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}

.product--card_body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

/* img Section: */

.bitcoin-img-container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background: url('../assets/img/bitcoinbaby2x.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.bitcoin-img-container h2 {
  color: var(--just-white);
  padding-top: 60px;
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;  
}

/* Plans section: */

.main-plans-container{
  width: 100%;
  min-height: 320px;
  padding-bottom: 70px;
  text-align: center;
}

.main-plans-container h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.main-plans-container p {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.plans-container--card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 190px;
  max-width: 300px;
  height: 250px;
  margin: 50px auto 0;
  padding: 0 15px;
  background-color: var(--just-white);
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.plans-container--card .recommended {
  position: absolute;
  width: 120px;
  height: 31px;
  background-color: var(--bitcoin-orange);
  color: var(--just-white);
  border-radius: 8px;
  left: calc(50% - 60px);
  top: -15px;
  margin: 0;
  padding: 6px;
}

.plan-card--title {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: black;
}

.plans-container--card .plan-card--price {
  padding: 5px 0;
  font-size: 5.3rem;
  font-weight: bold;
  line-height: 5.3rem;
  color: black;
}

.plans-container--card .plan-card--price span{
  font-size: 1.2rem;
  /* font-weight: 300; */
  vertical-align: 25px;
}
.plans-container--card .plan-card--price .cents{
  vertical-align: 0;
  font-size: 1.3rem;
}

.plans-container--card .plan-card--saving {
  padding-top: 0;
}
/* button call to action: */
.plan-card--ca {
  width: 151px;
  height: 48px;
  margin-top: 20px;
  background: var(--off-white);
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  font-family: "DM Sans", sans-serif;
  color: var(--black);
}
.plan-card--ca span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../assets/icons/orange-right-arrow.svg");
  vertical-align: text-bottom;
}
/* END button ca */

/* Scroll horizontal: */
.plans-container--slider {
  display: flex;
  gap: 10px;
  height: 316px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
/*END Scroll horizontal */


/* Footer: */
footer {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--bitcoin-orange);
}
 footer section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.footer--left ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}
.footer--left li {
  margin: 10px 0;
}
.footer--left a {
  text-decoration: none;
  color: var(--just-white);
}

